<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item"><a routerLink="/company-information">ข้อมูลหน่วยงาน </a> > </li>
                    <li class="list-item">แก้ไขข้อมูลหน่วยงาน</li>
                </div>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <p class="text-center">ปีการศึกษา ประเภทที่</p>

    <div class="main-container">
        <p>ข้อมูลหน่วยงาน</p>
        <form (ngSubmit)="updateCompany()">
            <div class="list">
                <label for="company_name">1. ชื่อหน่วยงาน(ภาษาไทย)</label>
                <input type="text" id="company_name" [(ngModel)]="company.company_name" name="company_name">
            </div>

            <div class="list">
                <li>2. ชื่อหรือตำแหน่งที่จะออกหนังสือราชการถึงหน่วยงาน นิสิตจะต้องสอบถามหน่วยงาน ว่าให้ทำหนังสือถึงใคร
                </li>
            </div>

            <div class="list">
                <label for="send_name">เรียน</label>
                <input type="text" id="send_name" [(ngModel)]="company.send_name" name="send_name">
            </div>

            <div class="list">
                <li>ชื่อผู้ประสานงาน คือ บุคคลที่นิสิตติดต่อหรือโทรศัพท์สอบถามข้อมูลเบื้องต้น</li>
            </div>

            <div class="list">
                <label for="send_coordinator">ชื่อผู้ประสานงาน</label>
                <input type="text" id="send_coordinator" [(ngModel)]="company.send_coordinator" name="send_coordinator">
            </div>

            <div class="list">
                <label for="send_position">ตำแหน่ง</label>
                <input type="text" id="send_position" [(ngModel)]="company.send_position" name="send_position">
            </div>

            <div class="list">
                <label for="send_tel">เบอร์โทรศัพท์หน่วยงาน</label>
                <input type="text" id="send_tel" [(ngModel)]="company.send_tel" name="send_tel">
            </div>

            <div class="list">
                <label for="send_email">Emile</label>
                <input type="text" id="send_email" [(ngModel)]="company.send_email" name="send_email">
            </div>

            <div class="list">
                <label for="send_mobile">โทรศัพท์มือถือ</label>
                <input type="text" id="send_mobile" [(ngModel)]="company.send_mobile" name="send_mobile">
            </div>

            <p>3. ข้อมูลหน่วยงานภายใน</p>
            <div>
                <label for="company_building">1. ชื่อหน่วยงานภายใน(ภาษาไทย)</label>
                <input type="text" id="company_building" [(ngModel)]="company.company_building" name="company_building">
            </div>

            <div class="list">
                <label for="company_job">ลักษณะงาน</label>
                <input type="text" id="company_job" [(ngModel)]="company.company_job" name="company_job">
            </div>

            <div class="list">
                <label for="number_student_train">จำนวนนิสิตที่รับเข้า</label>
                <input type="text" id="number_student_train" [(ngModel)]="need_student.number_student_train"
                    name="number_student_train">
            </div>

            <div class="list">
                <label for="date_addtraining">ระยะเวลาฝึกงาน</label>
                <input type="text" id="date_addtraining" [(ngModel)]="need_student.date_addtraining"
                    name="date_addtraining">
            </div>

            <div class="button-container">
                <button class="button" type="submit"
                    style="background-color: #064469; color: white;">บันทึกข้อมูล</button>
            </div>
        </form>
    </div>
</body>