<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item"><a routerLink="/company-information">ข้อมูลหน่วยงาน </a> > </li>
                    <li class="list-item">แก้ไขข้อมูลหน่วยงาน</li>
                </div>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <p class="text-center">ปีการศึกษา ประเภทที่</p>

    <div class="main-container">
        <p>ข้อมูลหน่วยงาน</p>

        <div class="list">
            <label for="company_name">1. ชื่อหน่วยงาน(ภาษาไทย)</label>
            <span>{{ companyForm.get('company_name')?.value }}</span>
        </div>

        <div class="list">
            <label for="company_building">2. ชื่อหน่วยงานภายใน(ภาษาไทย)</label>
            <span>{{ companyForm.get('company_building')?.value }}</span>
        </div>

        <form [formGroup]="companyForm" (ngSubmit)="openUpdatePopup()">
            <div class="list">
                <li>3. ชื่อหรือตำแหน่งที่จะออกหนังสือราชการถึงหน่วยงาน นิสิตจะต้องสอบถามหน่วยงาน ว่าให้ทำหนังสือถึงใคร
                </li>
            </div>

            <div class="list">
                <label for="send_name">เรียน</label>
                <input type="text" id="send_name" formControlName="send_name">
            </div>

            <div class="list">
                <li>ชื่อผู้ประสานงาน คือ บุคคลที่นิสิตติดต่อหรือโทรศัพท์สอบถามข้อมูลเบื้องต้น</li>
            </div>

            <div class="list">
                <label for="send_coordinator">ชื่อผู้ประสานงาน</label>
                <input type="text" id="send_coordinator" formControlName="send_coordinator">
            </div>

            <div class="list">
                <label for="send_position">ตำแหน่ง</label>
                <input type="text" id="send_position" formControlName="send_position">
            </div>

            <div class="list">
                <label for="send_tel">เบอร์โทรศัพท์หน่วยงาน</label>
                <input type="text" id="send_tel" formControlName="send_tel">
            </div>

            <div class="list">
                <label for="send_email">Emile</label>
                <input type="text" id="send_email" formControlName="send_email">
            </div>

            <div class="list">
                <label for="send_mobile">โทรศัพท์มือถือ</label>
                <input type="text" id="send_mobile" formControlName="send_mobile">
            </div>

            <p>3. ข้อมูลหน่วยงานภายใน</p>


            <div class="list-content">
                <label for="company_job">ลักษณะงาน</label>
                <textarea class="textarea" rows="10" id="company_job" formControlName="company_job" ></textarea>
            </div>

            <div class="list">
                <label for="number_student_train">จำนวนนิสิตที่รับเข้า</label>
                <input type="text" id="number_student_train" formControlName="number_student_train">
            </div>
            
            <div class="list-date">
                <label for="date_addtraining">วันที่ออกฝึกงาน</label>
                <input type="text" id="date_addtraining" formControlName="date_addtraining" (click)="openDatePicker()" 
                [matDatepicker]="picker"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            
            <div class="button-container">
                <button class="button" type="submit"
                    style="background-color: #064469; color: white;">บันทึกข้อมูล</button>
            </div>
        </form>
    </div>
</body>