body {
    background-color: white;
    background-position: top;
    height: auto; 
    overflow: auto;
 }

 .header {
    background-color: #44779F;
    border-radius: 8px;
}

.header ul {
    font-size: 18px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}

.header button {
    background-color: #FF8A00;
    font-size: 18px;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    margin-right: 0px;
}

.header-list {
    white-space: nowrap;
}

.list-item {
    display: inline-block;
    padding: 10px 5px 0px 5px;
}

.list-item a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.list-item a:hover {
    color: #FAFFAF;
}

/* content part */

p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.main-container {
    background-color: #DFEBF6;
    margin: 30px 30px 30px 50px;
    padding: 10px 50px 40px 50px;
    border-radius: 10px;
}

.main-container p {
    font-size: 18px;
    font-weight: 700;
}

.main-container li {
    font-size: 16px;
    font-weight: 600;
    list-style: none;
}

.list {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    display: inline-block;
}

.list-content {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    display: flex;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
}

.list input {
    margin-right: 30px;
    border-radius: 12px;
    padding: 2px 12px;
    min-width: 200px;
    display: inline-block;
}

.list-date input {
    border-radius: 12px;
    padding: 2px 12px;
    min-width: 200px;
}

.list-date {
    display: flex;
    align-items: center;
}

span {
    font-size: 16px;
    font-weight: 400;
    padding: 2px 12px;
    border: 2px solid #000;
    border-radius: 12px;
    background-color: #fff;
    min-width: 350px;
    display: inline-block;
}

.textarea {
    padding: 2px 12px;
    border-radius: 12px;
    border: 2px solid black;
    outline: none;
    width: 600px; 
    height: 80px;
    /* display: flex; */
}

.textarea:focus {
    border: 2px solid black;
}

/* button part */

.button-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center; 
    gap: 80px;
}

.button {
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}