<body style="width: 900px; overflow: hidden; padding: 20px;">

    <div class="text-box text-center">
        <h5>ข้อมูลหน่วยงาน</h5>
    </div>

    <div class="main-container" style="font-size: 15px;">
        <!-- Display the updated data as needed -->
        <p><strong>1. ชื่อหน่วยงาน(ภาษาไทย):</strong> {{ data.company.company_name }}</p>
        <p><strong>2. ชื่อหรือตำแหน่งที่จะออกหนังสือราชการถึงหน่วยงาน นิสิตจะต้องสอบถามหน่วยงาน ว่าให้ทำหนังสือถึงใคร</strong></p>
        <p><strong>เรียน:</strong> {{ data.company.send_name }}</p>
        <p><strong>ชื่อผู้ประสานงาน คือ บุคคลที่นิสิตติดต่อหรือโทรศัพท์สอบถามข้อมูลเบื้องต้น</strong></p><br>
        <p><strong>ชื่อผู้ประสานงาน:</strong> {{ data.company.send_coordinator }}</p>
        <p><strong>ตำแหน่ง:</strong> {{ data.company.send_position }}</p>
        <p><strong>เบอร์โทรศัพท์:</strong> {{ data.company.send_tel }}</p>
        <p><strong>Emile:</strong> {{ data.company.send_email }}</p>
        <p><strong>โทรศัพท์มือถือ:</strong> {{ data.company.send_mobile }}</p><br>

        <p><strong>3. ข้อมูลหน่วยงานภายใน</strong></p><br>
        <p><strong>ชื่อหน่วยงานภายใน(ภาษาไทย):</strong> {{ data.company.company_building }}</p>
        <p><strong>ลักษณะงาน:</strong> {{ data.company.company_job }}</p>
        <p><strong>จำนวนนิสิตที่รับเข้า:</strong> {{ data.company.number_student_train }}</p>
        <p><strong>วันที่ออกฝึกงาน:</strong> {{ data.company.date_addtraining }}</p>
        <p><strong>วันสุดท้ายของการฝึกงาน:</strong> {{ data.company.date_endtraining }}</p>
        <!-- Add more fields as needed -->
    </div>

    <div class="button-container">
        <button class="button" style="background-color: #FF4545; color: #FDFDF6;" (click)="onCancel()">ไม่ใช่</button>
        <button class="button" style="background-color: #6CB5FF; color: #FDFDF6;" (click)="onSubmit()">ใช่</button>
    </div>
</body>