<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">แจ้งข่าวประชาสัมพันธ์ </a> > </li>
                    <li class="list-item">เพิ่ม-ลบ-แก้ไขประชาสัมพันธ์</li>
                </div>
                <button [routerLink]="['/login-officer']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <p>ข่าวประชาสัมพันธ์</p>

    <div class="add-container">
        <button class="add-button" [routerLink]="['/add-relation']"
            style="background-color: #3699FF; color: white; width: 150px;">
            <i class="fa-solid fa-plus p-2"></i>เพิ่มข่าว
        </button>
    </div>

    <table class="table-container" style="width: 900px;">
        <thead style="font-size: 13px;">
            <tr>
                <th>วัน-เดือน-ปี</th>
                <th>เนื้อหา</th>
                <th>ลบ-แก้ไข</th>
            </tr>
        </thead>
        <tbody style="font-size: 13px;">
            <tr *ngFor="let relationItem of relations">
                <td class="text-center">{{ relationItem.relation_date }}</td>
                <td>{{ relationItem.relation_content }}</td>
                <td class="text-center">
                    <button class="button" (click)="deleteRelation(relationItem.id)"
                        style="background-color: #FF4545; color: #FDFDF6;">ลบ</button>
                    <button class="button" (click)="editRelation(relationItem.id)"
                        style="background-color: #66B366; color: #FDFDF6;">แก้ไข</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>