<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป  </a> > </li>
                <li class="list-item"><a routerLink="/company-information">ข้อมูลหน่วยงาน > </a></li>
                <li class="list-item"><a routerLink="/add-company">เพิ่มข้อมูลหน่วยงาน > </a></li>
                <li class="list-item">เพิ่มข้อมูลหน่วยงานภายใน</li>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    ปีการศึกษา ประเภทที่

    <h2>ข้อมูลหน่วยงานภายใน</h2>
        <form (ngSubmit)="saveData()">
            <div>
                <label for="company_building">1. ชื่อหน่วยงานภายใน(ภาษาไทย)</label>
                <input type="text" id="company_building" [(ngModel)]="company.company_building">
            </div>

            <div>
                <label for="company_job">ลักษณะงาน</label>
                <input type="text" id="company_job" [(ngModel)]="company.company_job">
            </div>

            <div>
                <label for="number_student_train">จำนวนนิสิตที่รับเข้า</label>
                <input type="text" id="number_student_train" [(ngModel)]="need_student.number_student_train">
            </div>

            <div>
                <label for="company_period">ระยะเวลาฝึกงาน</label>
                <input type="text" id="company_period" [(ngModel)]="company.company_period">
            </div>

            <button type="submit">บันทึกข้อมูล</button>
        </form>
</body>


