<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item"><a routerLink="/company-information">ข้อมูลหน่วยงาน </a> > </li>
                    <li class="list-item"><a routerLink="/add-company">เพิ่มข้อมูลหน่วยงาน </a> > </li>
                    <li class="list-item">เพิ่มข้อมูลหน่วยงานภายใน</li>
                </div>
                <button (click)="logout()">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <p>ข้อมูลหน่วยงานภายใน</p>
        <form [formGroup]="internalCompanyForm" (ngSubmit)="openAddInternalPopup()">
            <div>
                <label for="company_building">1. ชื่อหน่วยงานภายใน(ภาษาไทย)</label>
                <input type="text" id="company_building" formControlName="company_building">
            </div>

            <div class="list-content">
                <label for="company_job">ลักษณะงาน</label>
                <textarea class="textarea" rows="10" id="company_job" formControlName="company_job"></textarea>
            </div>

            <div class="list">
                <label for="number_student_train">จำนวนนิสิตที่รับเข้า</label>
                <input type="text" id="number_student_train" formControlName="number_student_train">
            </div>

            <div class="list-date">
                <label for="date_addtraining">วันที่ออกฝึกงาน</label>
                <input type="text" id="date_addtraining" formControlName="date_addtraining" (click)="openDatePicker()"
                    [matDatepicker]="pickerAddTraining" />
                <mat-datepicker-toggle matSuffix [for]="pickerAddTraining"></mat-datepicker-toggle>
                <mat-datepicker #pickerAddTraining></mat-datepicker>
            </div>

            <div class="list-date">
                <label for="date_endtraining">วันสุดท้ายของการฝึกงาน</label>
                <input type="text" id="date_endtraining" formControlName="date_endtraining" (click)="openDatePicker()"
                    [matDatepicker]="pickerEndTraining" />
                <mat-datepicker-toggle matSuffix [for]="pickerEndTraining"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndTraining></mat-datepicker>
            </div>

            <div class="button-container">
                <button class="button" type="submit"
                    style="background-color: #064469; color: #FDFDF6;">บันทึกข้อมูล</button>
            </div>
        </form>
    </div>
</body>