<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item">ข้อมูลหน่วยงาน</li>
                </div>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="form-container">
        <p>กรุณากรอกข้อมูล</p>

        <form (ngSubmit)="submitForm()" method="post">
            <div class="form-group">
                <label for="year">ปีการศึกษา</label><br>
                <select id="year" [(ngModel)]="selectedOption1" name="year">
                    <option value="2565">2565</option>
                    <option value="2566">2566</option>
                </select><br>

                <label for="type_code">ประเภท</label><br>
                <select id="type_code" [(ngModel)]="selectedOption2" name="type_code">
                    <option value="1">ประเภทที่ 1</option>
                    <option value="2">ประเภทที่ 2</option>
                    <option value="3">ประเภทที่ 3</option>
                    <option value="4">ประเภทที่ 4</option>
                </select>
            </div>

            <div class="button-container">
                <button class="button" style="background-color: #FDFDF6; color: #072D44;"
                    [routerLink]="['/home-officer']">ย้อนกลับ</button>
                <button class="button" style="background-color: #064469; color: #FDFDF6;"
                    >ยืนยัน</button>
            </div>
        </form>
    </div>
</body>