<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item"><a routerLink="/relation-officer">เพิ่ม-ลบ-แก้ไขประชาสัมพันธ์ </a> > </li>
                    <li class="list-item">แก้ไขข่าวประชาสัมพันธ์</li>
                </div>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <p>แก้ไขข่าวประชาสัมพันธ์</p>
        <form [formGroup]="relationForm" (ngSubmit)="editRelation()">
            <div class="list">
                <label for="relation_date">วัน-เดือน-ปี</label>
                <input type="text" id="relation_date" formControlName="relation_date" (click)="openDatePicker()"
                    [matDatepicker]="picker" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="list">
                <label for="relation_content">เนื้อหา</label>
                <textarea class="textarea" id="relation_content" rows="10" formControlName="relation_content"
                    style="margin-left: 55px;"></textarea>
            </div>

            <div class="list">
                <label for="relation_pic">แนบรูป</label>
            </div>

            <div class="list p-3" style="justify-content: center;">
                <input type="file" (change)="onFileSelected($event)" formControlName="relation_pic">
            </div>
            <div class="button-container">
                <button class="button" style="background-color: #FDFDF6; color: #072D44;"
                    [routerLink]="['/relation-officer']">ย้อนกลับ</button>
                <button class="button" style="background-color: #064469; color: #FDFDF6;">บันทึกข้อมูล</button>
            </div>

        </form>
    </div>
</body>