<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-student">ข้อมูลทั่วไป </a> ></li>
                    <li class="list-item">ข้อมูลประวัติส่วนตัว</li>
                </div>
                <button (click)="logout()">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="profile">
        <div [formGroup]="studentForm">
            <!-- <img [src]="imageUrl" alt="Uploaded Image"><br><br> -->
            <div class="list p-3" style="display: flex; justify-content: center; align-items: center; text-align: center;">
                <img *ngIf="displayedFilePath" [src]="displayedFilePath"
                    style="max-width: auto; max-height: 250px; display: inline-block;">
            </div>

            <p>รายละเอียดส่วนตัว</p>

            <div class="list">
                <label for="typeCode">ประเภท :</label>
                <span>{{ studentForm.get('type_code')?.value }}</span>
            </div>

            <div class="list">
                <label for="studentName">ชื่อ-นามสกุล :</label>
                <span>{{ studentForm.get('student_name')?.value }} {{ studentForm.get('student_lastname')?.value
                    }}</span>
            </div>

            <div class="list">
                <label for="studentNickname">ชื่อเล่น :</label>
                <span>{{ studentForm.get('student_nickname')?.value }}</span>
            </div>

            <div class="list">
                <label for="studentCitizen">หมายเลขประจำวันประชาชน:</label>
                <span>{{ studentForm.get('student_citizen')?.value }}</span>
            </div>

            <div class="list">
                <label for="studentEmail">Email :</label>
                <span>{{ studentForm.get('student_email')?.value }}</span>
            </div>

            <div class="list">
                <label for="studentMobile">โทรศัพท์มือถือ :</label>
                <span>{{ studentForm.get('student_mobile')?.value }}</span>
            </div>

            <div class="list">
                <label for="studentFacebook">Fackbook URL :</label>
                <span>{{ studentForm.get('student_facebook')?.value }}</span>
            </div>

            <div class="list">
                <label for="studentLine">Line ID :</label>
                <span>{{ studentForm.get('student_line')?.value }}</span>
            </div>
            <br><br>


            <p>ที่อยู่ตามภูมิลำเนา</p>
            <div class="list">
                <label for="stAddress">ที่อยู่ :</label>
                <span>{{ studentForm.get('st_address')?.value }}</span>
            </div>
            <div class="list">
                <label for="stTambol">ตำบล/แขวง :</label>
                <span>{{ studentForm.get('st_tambol')?.value }}</span>
            </div>
            <div class="list">
                <label for="stAmpher">อำเภอ/เขต :</label>
                <span>{{ studentForm.get('st_ampher')?.value }}</span>
            </div>
            <div class="list">
                <label for="stProvince">จังหวัด :</label>
                <span>{{ studentForm.get('st_province')?.value }}</span>
            </div>
            <div class="list">
                <label for="stZipcode">รหัสไปรษณีย์ :</label>
                <span>{{ studentForm.get('st_zipcode')?.value }}</span>
            </div>
            <div class="list">
                <label for="stTel">โทรศัพท์บ้าน :</label>
                <span>{{ studentForm.get('st_tel')?.value }}</span>
            </div>
            <div class="list">
                <label for="stContact">บุคคลอ้างอิง :</label>
                <span>{{ studentForm.get('st_contact')?.value }}</span>
            </div>
            <div class="list">
                <label for="stMobile">โทรศัพท์มือถือ :</label>
                <span>{{ studentForm.get('st_mobile')?.value }}</span>
            </div>
            <br><br>

            <p>ที่อยู่ปัจจุบัน ที่สามารถติดต่อได้</p>
            <div class="list">
                <label for="ctAddress">ที่อยู่ :</label>
                <span>{{ studentForm.get('ct_address')?.value }}</span>
            </div>
            <div class="list">
                <label for="ctTambol">ตำบล/แขวง :</label>
                <span>{{ studentForm.get('ct_tambol')?.value }}</span>
            </div>
            <div class="list">
                <label for="ctAmpher">อำเภอ/เขต :</label>
                <span>{{studentForm.get('ct_ampher')?.value}}</span>
            </div>
            <div class="list">
                <label for="ctProvince">จังหวัด :</label>
                <span>{{ studentForm.get('ct_province')?.value }}</span>
            </div>
            <div class="list">
                <label for="ctZipcode">รหัสไปรษณีย์ :</label>
                <span>{{ studentForm.get('ct_zipcode')?.value }}</span>
            </div>
            <div class="list">
                <label for="ctTel">โทรศัพท์บ้าน :</label>
                <span>{{studentForm.get('ct_tel')?.value }}</span>
            </div>
            <br><br>

            <!-- <p>ข้อมูลสถานประกอบการ</p>
            <div class="list">
                <label for="company_name">ชื่อสถานประกอบการ :</label>
                <span>{{ company.company_name }}</span>
            </div>
            <div class="list">
                <label for="company_address">ที่ตั้งสถานประกอบการ :</label>
                <span>{{ company.company_address}}</span>
            </div>
            <br><br><br> -->

            <div class="button-container">
                <button class="button" [routerLink]="['/home-student']"
                    style="background-color: white; color: #064469;">ย้อนกลับ</button>
                <button class="button" [routerLink]="['/edit-profile']"
                    style="background-color: #064469; color: white;">แก้ไขข้อมูลพื้นฐาน</button>
            </div>
        </div>
    </div>

    <div class="text-box">
        <li class="text-list">หน่วยกิจการนิสิต สาขาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร</li>
        <li class="text-list">99 หมู่ 9 ถ.พิษณุโลก-นครสวรรค์ ต.ท่าโพธิ์ อ.เมือง จ.พิษณุโลก 65000</li>
        <li class="text-list">โทรศัพท์ 0-5596-4015 โทรสาร 0-5596-4000</li>
    </div>
</body>