<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item">หนังสือแจ้งผู้ปกครองเรื่องการฝึกงาน</li>
                </div>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="form-container">
        <p>กรุณากรอกข้อมูล</p>
        <form (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="option1">ปีการศึกษา</label><br>
                <select [(ngModel)]="selectedOption1" name="selectedOption1">
                    <option value="">-- เลือกปีการศึกษา --</option> <!-- Add a default option -->
                    <option *ngFor="let option of selectedOption1" [value]="option">{{ option }}</option>
                </select><br>

                <label for="type_code">ประเภท</label><br>
                <select [(ngModel)]="selectedOption2" name="selectedOption2">
                    <option value="">-- เลือกประเภท --</option>
                    <option *ngFor="let option of selectedOption2" [value]="option">{{ option }}</option>
                </select>
            </div>

            <div class="button-container">
                <button class="button" style="background-color: #FDFDF6; color: #072D44;"
                    [routerLink]="['/home-officer']">ย้อนกลับ</button>
                <button class="button" style="background-color: #064469; color: #FDFDF6;"
                    >ยืนยัน</button>
            </div>
        </form>
    </div>
</body>