<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item">ข้อมูลหน่วยงาน</li>
                </div>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <p *ngIf="selectedOption1 && selectedOption2">ปีการศึกษา {{ selectedOption1 }} ประเภทที่ {{ selectedOption2 }}</p>

    <table class="table-container" style="width: 900px;" *ngIf="CompanyInformation && CompanyInformation">
        <thead style="font-size: 13px;">
            <tr style="font-size: 13px;">
                <th>ลำดับ</th>
                <th>ชื่อหน่วยงาน</th>
                <th>หน่วยงานภายใน</th>
                <th>รับ-ลง-เหลือ</th>
                <th>รหัสนิสิต</th>
                <th>ชื่อนิสิตที่ลงทะเบียน</th>

            </tr>
        </thead>

        <tbody style="font-size: 13px;">
            <tr *ngFor="let company of CompanyInformation; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td style="word-break: break-all;">{{ company.company.company_name }}</td>
                <td style="word-break: break-all;">{{ company.company.company_building }}</td>

                <td class="text-center"
                    *ngIf="need_student[company.company.company_id] && need_student[company.company.company_id].length > 0">
                    {{ need_student[company.company.company_id][0].number_student_train }}
                </td>

                <ng-container
                    *ngIf="student[company.company.company_id] && student[company.company.company_id].length > 0; else noStudents">
                    <td class="text-center">{{ student[company.company.company_id][0].student_code }}</td>
                    <td>{{ student[company.company.company_id][0].student_name }} {{
                        student[company.company.company_id][0].student_lastname }}</td>
                </ng-container>

                <ng-template #noStudents>
                    <td colspan="3" class="text-center">No students available</td>
                </ng-template>

                <td class="text-center">
                    <button (click)="editCompany(company.company.company_id)"
                        style="background-color: #66B366; color: #FDFDF6;">แก้ไขข้อมูลหน่วยงาน</button>
                </td>
            </tr>

        </tbody>
    </table>

</body>