<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item">เพิ่มข้อมูลหน่วยงาน</li>
                </div>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <p>ข้อมูลหน่วยงาน</p>
        <form [formGroup]="companyForm" (ngSubmit)="saveCompany()">
            <div class="list">
                <label style="min-width: 120px;" for="year">ปีการศึกษา</label>
                <input style="width: 230px;" type="text" id="year" formControlName="year"><br>

                <label style="min-width: 120px;" for="type_name">ประเภท</label>
                <select formControlName="type_name">
                    <option value="">-- เลือกประเภท --</option>
                    <option *ngFor="let option of selectedOption2" [value]="option">{{ option }}</option>
                </select>
            </div>

            <div class="list">
                <label for="term">ภาคเรียน</label>
                <select formControlName="term">
                    <option value="">-- เลือกภาคเรียน --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select><br>
            </div>

            <div class="list">
                <label for="company_name">1. ชื่อหน่วยงาน(ภาษาไทย)</label>
                <select formControlName="company_name">
                    <option *ngFor="let option of selectedOption3" [value]="option">{{ option }}</option>
                </select>
            </div>

            <div class="list">
                <li>2. ชื่อหรือตำแหน่งที่จะออกหนังสือราชการถึงหน่วยงาน นิสิตจะต้องสอบถามหน่วยงาน ว่าให้ทำหนังสือถึงใคร
                </li>
            </div>

            <div class="list">
                <label for="send_name">เรียน</label>
                <input type="text" id="send_name" formControlName="send_name">
            </div>

            <div class="list">
                <li>ชื่อผู้ประสานงาน คือ บุคคลที่นิสิตติดต่อหรือโทรศัพท์สอบถามข้อมูลเบื้องต้น</li>
            </div>

            <div class="list">
                <label for="send_coordinator">ชื่อผู้ประสานงาน</label>
                <input type="text" id="send_coordinator" formControlName="send_coordinator">
            </div>

            <div class="list">
                <label for="send_position">ตำแหน่ง</label>
                <input type="text" id="send_position" formControlName="send_position">
            </div>

            <div class="list">
                <label for="send_tel">เบอร์โทรศัพท์หน่วยงาน</label>
                <input type="text" id="send_tel" formControlName="send_tel">
            </div>

            <div class="list">
                <label for="send_email">Emile</label>
                <input type="text" id="send_email" formControlName="send_email">
            </div>

            <div class="list">
                <label for="send_mobile">โทรศัพท์มือถือ</label>
                <input type="text" id="send_mobile" formControlName="send_mobile">
            </div>

            <div class="button-container">
                <button class="button" type="submit"
                    style="background-color: #064469; color: #FDFDF6;">เพิ่มหน่วยงานภายใน</button>
            </div>
        </form>
    </div>
</body>