body {
    background-color: white;
    background-position: top;
    height: 100%; 
    overflow: auto;
 }

 .header {
    background-color: #44779F;
    border-radius: 8px;
}

.header ul {
    font-size: 18px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}

.header button {
    background-color: #FF8A00;
    font-size: 18px;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    margin-right: 0px;
}

.header-list {
    white-space: nowrap;
}

.list-item {
    display: inline-block;
    padding: 10px 5px 0px 5px;
}

.list-item a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.list-item a:hover {
    color: #FAFFAF;
}

/* content part */

p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.main-container {
    background-color: #DFEBF6;
    margin: 30px 30px 30px 50px;
    padding: 10px 50px 40px 50px;
    border-radius: 10px;
}

.main-container p {
    font-size: 18px;
    font-weight: 700;
}

.main-container li {
    font-size: 16px;
    font-weight: 600;
    list-style: none;
}

.list {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    display: inline-block;
}

label {
    font-size: 16px;
    font-weight: 600;
}

input {
    margin-left: 20px;
    border-radius: 12px;
}

/* button part */

.button-container {
    display: grid;
    justify-content: center; 
}

.button {
    padding: 5px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}