.main-container {
    padding: 30px;
    width: auto;
}

h4 {
    padding-bottom: 25px;
}

/* button part */
.button-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 80px;
}

.button {
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}