body {
    background-color: white;
    background-position: top;
    height: 100%; 
    overflow: auto;
 }

 .header {
    background-color: #44779F;
    border-radius: 8px;
}

.header ul {
    font-size: 18px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}

.header button {
    background-color: #FF8A00;
    font-size: 18px;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    margin-right: 0px;
}

.header-list {
    white-space: nowrap;
}

.list-item {
    display: inline-block;
    padding: 10px 5px 0px 5px;
}

.list-item a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.list-item a:hover {
    color: #FF8A00;
}

/* content part */

.check-container {
    background-color: #DFEBF6;
    margin: 50px  200px 200px 150px;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
}

.check-container i {
    font-size: 80px;
}

.head-check {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #064469;
    background-color: #064469;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
}

h5 {
    padding: 30px;
}

.status {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    background-color: #59AB62;
    margin: 30px 150px 0px 150px;
    padding: 10px;
    border-radius: 10px;
}

/* text-box part */

.text-box {
    border: 4px solid #064469; 
    padding: 15px 50px 15px 50px; 
    width: 880px;
    margin: 0px 50px 30px 50px;
    border-radius: 8px;
    text-align: center;
}

.text-list {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}