<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item">ข้อมูลนิสิตวิศวกรรมคอมพิวเตอร์</li>
                </div>
                <button (click)="logout()">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <p>ปีการศึกษา {{ selectedOption3 }} ประเภทที่ {{ selectedOption4 }}</p>
    <table class="table-container" style="width: 900px;">
        <thead style="font-size: 13px;">
            <tr>
                <th>ลำดับ</th>
                <th>หมายเลขประจำตัว</th>
                <th>รหัสนิสิต</th>
                <th>ชื่อ-นามสกุล</th>
                <th>โทรศัพท์มือถือ</th>
                <th>Email</th>
                <th>Facebook</th>
                <th>Line</th>
                <th>ที่อยู่ปัจจุบัน</th>
            </tr>
        </thead>
        <tbody style="font-size: 13px;">
            <tr *ngFor="let student of StudentInformation; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td>{{ student.student_citizen }}</td>
                <td>{{ student.student_code }}</td>
                <td>{{ student.student_name }} {{ student.student_lastname }}</td>
                <td>{{ student.student_mobile }}</td>
                <td>{{ student.student_email }}</td>
                <td>{{ student.student_facebook }}</td>
                <td>{{ student.student_line }}</td>
                <td style="word-wrap: break-word;">{{ student.st_address }}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!StudentInformation || !StudentInformation || StudentInformation.length === 0">No student
        information available.</p>
</body>