<body class="mx-auto d-block" style="width: 980px;">
    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-student">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item"><a routerLink="/profile-student">ข้อมูลประวัติส่วนตัว</a> ></li>
                    <li class="list-item">แก้ไขข้อมูลพื้นฐาน</li>
                </div>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="edit-profile">
        <form (ngSubmit)="updateStudent()">
            <input type="file" (change)="onFileSelected($event)">
            <button type="button" (click)="onUpload()">Upload</button>
            <br><br>

            <p>รายละเอียดส่วนตัว</p>
            <div class="list">
                <label for="typeCode">ประเภท : </label>
                <select id="typeCode"  [(ngModel)]="studentData.type_code" name="typeCode" required>
                    <option value="option1">ประเภทที่ 1</option>
                    <option value="option2">ประเภทที่ 2</option>
                    <option value="option3">ประเภทที่ 3</option>
                    <option value="option4">ประเภทที่ 4</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="list">
                <label for="studentCitizen">หมายเลขประจำวันประชาชน :</label>
                <input type="text" id="studentCitizen"  [(ngModel)]="studentData.student_citizen" name="studentCitizen">
            </div>
            <div class="list">
                <label for="studentNickname">ชื่อเล่น :</label>
                <input type="text" id="studentNickname"  [(ngModel)]="studentData.student_nickname" name="studentNickname" >
            </div>
            <div class="list">
                <label for="studentMobile">โทรศัพท์มือถือ :</label>
                <input type="text" id="studentMobile"  [(ngModel)]="studentData.student_mobile" name="studentMobile">
            </div>
            <div class="list">
                <label for="studentEmail">Email :</label>
                <input type="email" id="studentEmail"  [(ngModel)]="studentData.student_email" name="studentEmail">
            </div>
            <div class="list">
                <label for="studentFacebook">Fackbook URL :</label>
                <input type="text" id="studentFacebook"  [(ngModel)]="studentData.student_facebook" name="studentFacebook">
            </div>
            <div class="list">
                <label for="studentLine">Line ID :</label>
                <input type="text" id="studentLine"  [(ngModel)]="studentData.student_line" name="studentLine">
            </div>
            <br><br>

            <p>ที่อยู่ตามภูมิลำเนา</p>
            <div class="list">
                <label for="stAddress">ที่อยู่ :</label>
                <input type="text" id="stAddress"  [(ngModel)]="studentData.st_address" name="stAddress">
            </div>
            <div class="list">
                <label for="stTambol">ตำบล/แขวง :</label>
                <input type="text" id="stTambol"  [(ngModel)]="studentData.st_tambol" name="stTambol">
            </div>
            <div class="list">
                <label for="stAmpher">อำเภอ/เขต :</label>
                <input type="text" id="stAmpher"  [(ngModel)]="studentData.st_ampher" name="stAmpher">
            </div>
            <div class="list">
                <label for="stProvince">จังหวัด :</label>
                <input type="text" id="stProvince"  [(ngModel)]="studentData.st_province" name="stProvince">
            </div>
            <div class="list">
                <label for="stZipcode">รหัสไปรษณีย์ :</label>
                <input type="text" id="stZipcode"  [(ngModel)]="studentData.st_zipcode" name="stZipcode">
            </div>
            <div class="list">
                <label for="stTel">โทรศัพท์บ้าน :</label>
                <input type="text" id="stTel"  [(ngModel)]="studentData.st_tel" name="stTel">
            </div>
            <div class="list">
                <label for="stContact">บุคคลอ้างอิง :</label>
                <input type="text" id="stContact"  [(ngModel)]="studentData.st_contact" name="stContact">
            </div>
            <div class="list">
                <label for="stMobile">โทรศัพท์มือถือ :</label>
                <input type="text" id="stMobile"  [(ngModel)]="studentData.st_mobile" name="stMobile">
            </div>
            <br><br>

            <p>ที่อยู่ปัจจุบัน ที่สามารถติดต่อได้</p>
            <div class="list">
                <label for="ctAddress">ที่อยู่ :</label>
                <input type="text" id="ctAddress"  [(ngModel)]="studentData.ct_address" name="ctAddress">
            </div>
            <div class="list">
                <label for="ctTambol">ตำบล/แขวง :</label>
                <input type="text" id="ctTambol"  [(ngModel)]="studentData.ct_tambol" name="ctTambol">
            </div>
            <div class="list">
                <label for="ctAmpher">อำเภอ/เขต :</label>
                <input type="text" id="ctAmpher"  [(ngModel)]="studentData.ct_ampher" name="ctAmpher">
            </div>
            <div class="list">
                <label for="ctProvince">จังหวัด :</label>
                <input type="text" id="ctProvince"  [(ngModel)]="studentData.ct_province" name="ctProvince">
            </div>
            <div class="list">
                <label for="ctZipcode">รหัสไปรษณีย์ :</label>
                <input type="text" id="ctZipcode"  [(ngModel)]="studentData.ct_zipcode" name="ctZipcode">
            </div>
            <div class="list">
                <label for="ctTel">โทรศัพท์บ้าน :</label>
                <input type="text" id="ctTel"  [(ngModel)]="studentData.ct_tel" name="ctTel">
            </div>
            <!-- <div class="list">
                <label for="ct_tel">อื่นๆ :</label>
                <input type="text" id="ct_tel"  [(ngModel)]="profilestudent.ct_tel">
            </div> -->
            <br><br><br>


            <div class="button-container">
                <button class="button" (click)="goBack()"
                    style="background-color: white; color: #064469;">ย้อนกลับ</button>
                
                    
                <button class="button" type="submit"
                    style="background-color: #064469; color: white;">บันทึกข้อมูล</button>
            </div>
        </form>
    </div>
    <h6 style="color: red;">*ข้อมูลเบอร์โทรศัพท์และหมายเลขบัตร - กรอกเฉพาะตัวเลข</h6>
    <div class="text-box">
        <li class="text-list">หน่วยกิจการนิสิต สาขาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร</li>
        <li class="text-list">99 หมู่ 9 ถ.พิษณุโลก-นครสวรรค์ ต.ท่าโพธิ์ อ.เมือง จ.พิษณุโลก 65000</li>
        <li class="text-list">โทรศัพท์ 0-5596-4015 โทรสาร 0-5596-4000</li>
    </div>
</body>