<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/search-permission-form-officer">หนังสือต่างๆ </a> > </li>
                    <li class="list-item">หนังสือขอความอนุเคราะห์รับนิสิตเข้าฝึกงาน</li>
                </div>
                <button (click)="logout()">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>
    
    <p *ngIf="companyInformation.length === 0" style="color: red;">ไม่มีหน่วยงานที่นิสิตเลือก</p>
    <p *ngIf="companyInformation.length > 0">ปีการศึกษา {{ selectedOption1 }} ประเภทที่ {{ selectedOption2 }}</p>
    <table class="table-container" style="width: 900px;">
        <thead style="font-size: 13px;">
            <tr>
                <th>ลำดับ</th>
                <th>ชื่อหน่วยงาน</th>
                <th>หน่วยงานภายใน</th>
                <th>รหัสนิสิต</th>
                <th>ชื่อนิสิตที่ลงทะเบียน</th>
                <th>พิมพ์หนังสือ</th>
            </tr>
        </thead>
        <tbody style="font-size: 13px;">
            <tr *ngFor="let company of companyInformation; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td style="word-break: break-all;">{{ company.company.company_name }}</td>
                <td style="word-break: break-all;">{{ company.company.company_building }}</td>
                <td *ngIf="student[company.company.company_id] && student[company.company.company_id].length > 0">
                    <ng-container *ngFor="let studentItem of student[company.company.company_id]">
            <tr>
                {{ studentItem.student_code }}
            </tr>
            </ng-container>
            </td>

            <td *ngIf="student[company.company.company_id] && student[company.company.company_id].length > 0">
                <ng-container *ngFor="let studentItem of student[company.company.company_id]">
                    <tr>
                        {{ studentItem.student_name }} {{ studentItem.student_lastname }}
                    </tr>
                </ng-container>
            </td>
            <td class="text-center"><button (click)="selectForm(company.company.company_id)"
                    style="background-color: #66B366;"><i class="fa-solid fa-print"
                        style="color: #FDFDF6; font-size: 16px;"></i></button>
            </td>
            </tr>
        </tbody>
    </table>
</body>