body {
    background-color: white;
    background-position: top;
    height: auto;
}

.header {
    background-color: #44779F;
    border-radius: 8px;
}

.header ul {
    font-size: 18px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 5px;
}

.header button {
    background-color: #FF8A00;
    font-size: 18px;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
}

.header li {
    padding: 10px;
}

.sidebar {
    height: 100%;
    width: 290px;
    background: #4F92B3;
    z-index: 100;
    border-radius: 5px;
    overflow: fit-content;
    /* transition: all 0.5s ease; */
}

.sidebar p {
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding-left: 25px;
    padding-top: 25px;
    text-align: center;
}

.sidebar .nav-links {
    width: 290px;
    height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
    margin-left: 0px;
}

.sidebar .nav-links li {
    list-style: none;
    padding-left: 30px;
    overflow: fit-content;
}

.sidebar .nav-links>li {
    position: relative;
    width: 290;
}

.sidebar .nav-links li :hover {
    background: #44779F;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    color: #75D2FF;
    font-size: 20px;
}

.sidebar .nav-links li:hover i,
.sidebar .nav-links li.active i {
    color: white;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.sidebar .nav-links li:hover {
    background: #44779F;
    border-left: solid aqua;
}

.sidebar .nav-links li a .link_name {
    font-size: 15px;
    font-weight: 400;
    color: #C5ECFF;
}

.sidebar .nav-links li:hover a .link_name,
.sidebar .nav-links li.active a .link_name {
    color: white;
}

.sidebar p {
    font-size: 18px;
}

/* Dropdown Title */
.sidebar .nav-links .dropdown-title {
    width: 260px;
    transition: all 0.52s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

Dropdown Button .sidebar .nav-links .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sidebar .nav-links li i.arrow {
    font-size: 15px;
    color: #fff;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

/* Sub Menu */
.sidebar .nav-links li .sub-menu {
    padding: 0px;
    margin-top: 0px;
    /* background: #44779F; */
    display: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
    width: 290px;
}

.sidebar .nav-links li .sub-menu a {
    color: #C5ECFF;
    height: 50px;
    font-size: 15px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu li {
    padding-left: 0px;
    width: 258px;
    border-bottom: 0.2px solid #465E72;
    border-left: 0.2px solid #4F92B3;
    ;
}

.sidebar .nav-links li .sub-menu i {
    height: 50px;
    min-width: 60px;
    text-align: center;
    line-height: 50px;
    color: #75D2FF;
    font-size: 15px;
    padding-left: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.sidebar .nav-links li .sub-menu :hover,
.sidebar .nav-links li .sub-menu .active {
    background-color: #365f7f;
    border-left: 0.2px solid #365f7f;
}

.sidebar .nav-links li .sub-menu li:hover a,
.sidebar .nav-links li .sub-menu li.active a,
.sidebar .nav-links li .sub-menu i:hover {
    color: white;
}