<body class="mx-auto d-block" style="width: 980px;">
    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <li>{{ dateTime | date: 'fullDate' }}</li>
                <button (click)="logout()">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="sidebar">
        <div class="nav-links" id="nav-links">

            <p>ข้อมูลทั่วไป</p>
            <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
                <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
                    <a [routerLink]="[item.link]">
                        <i [class]="item.icon"></i>
                        <span class="link_name">{{item.link_name}}</span>
                    </a>
                </div>
                <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl)">
                    <a>
                        <i [class]="item.icon"></i>
                        <span class="link_name">{{item.link_name}}</span>
                    </a>
                    <i class="fa-solid fa-chevron-down arrow"></i>
                </div>
                <div class="sub-menu" [class.blank]="item.sub_menu.length == 0">
                    <!-- <li><a class="link_name">{{item.link_name}}</a></li> -->
            <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
                <a [routerLink]="[item_sub.link]">
                    <i class="fa-regular fa-circle"></i>{{item_sub.link_name}}</a>
            </li>
        </div>
        </li><br>

        <hr style="border-width: 3px; border-color: white;">

        <p>หนังสือต่างๆ</p>
        <li *ngFor="let item of formSidebar" #itemEl routerLinkActive="active">
            <a [routerLink]="[item.link]">
                <i [class]="item.icon"></i>
                <span class="link_name">{{item.link_name}}</span>
            </a>
        </li><br>

        <hr style="border-width: 3px; border-color: white;">

        <p>แจ้งข่าวประชาสัมพันธ์</p>
        <li *ngFor="let item of newsSidebar" #itemEl routerLinkActive="active">
            <a [routerLink]="[item.link]">
                <i [class]="item.icon"></i>
                <span class="link_name">{{item.link_name}}</span>
            </a>
        </li>
    </div>
    </div>

    <div class="content">
        <table class="table-container">
            <thead class="text-center" style="font-size: 15px;">
                <tr style="color: #e6ecf0;">
                    <th><i class="fa-solid fa-satellite-dish"></i>ข่าวประชาสัมพันธ์<i
                            class="fa-solid fa-satellite-dish"></i></th>
                </tr>
            </thead>
            <tbody style="font-size: 15px;">
                <tr *ngFor="let relationItem of relations">
                    <td>
                        <i class="fa-solid fa-square" style="color: #FF8A00;"></i>
                        {{ relationItem.relation_content }} - [ {{ relationItem.relation_date }} ]
                        <ng-container *ngIf="isNew(relationItem.relation_date)">
                            <img src="https://media.tenor.com/h8wC3_J4yh8AAAAi/new-post.gif" /> 
                        </ng-container>
                    </td>
                </tr>
                <tr style="text-align: right;"><a [routerLink]="['/relation-officer']"
                        style="margin: 15px 15px 20px 15px; text-decoration: none; font-size: 17px;">แก้ไขข่าวประชาสัมพันธ์
                        >>></a></tr>
            </tbody>
        </table>
    </div>
</body>