<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">แจ้งข่าวประชาสัมพันธ์ </a> > </li>
                    <li class="list-item"><a routerLink="/relation-officer">เพิ่ม-ลบ-แก้ไขประชาสัมพันธ์ </a> > </li>
                    <li class="list-item">เพิ่มข่าวประชาสัมพันธ์</li>
                </div>
                <button [routerLink]="['/login-officer']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <p>เพิ่มข่าวประชาสัมพันธ์</p>
        <form [formGroup]="relationForm" (ngSubmit)="openPopup()" enctype="multipart/form-data">
            <div class="list">
                <label for="relation_date">วัน-เดือน-ปี</label>
                <input type="text" id="relation_date" formControlName="relation_date" (click)="openDatePicker()"
                    [matDatepicker]="picker" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>

            <div class="list">
                <label for="relation_content">เนื้อหา</label>
                <textarea class="textarea" id="relation_content" rows="10" formControlName="relation_content"
                    style="margin-left: 55px;"></textarea>
            </div>

            <div class="list">
                <label for="relation_pic">แนบรูป</label>
            </div>

            <div class="list p-3" style="justify-content: center; text-align: center;">
                <img *ngIf="displayedFilePath" [src]="displayedFilePath" alt="Selected Photo"
                    style="max-width: 100%; display: inline-block;">
            </div>
            
            <div class="list p-3" style="justify-content: center;">
                <input type="file" (change)="onFileSelected($event)" #fileInput style="margin-bottom: 10px;">
                <div *ngIf="fileInput.files && fileInput.files.length > 0" style="text-align: center;">
                </div>
            </div>

            <div class="button-container">
                <button class="button" style="background-color: #064469; color: #FDFDF6;" 
                type="submit"> บันทึกข้อมูล</button>
            </div>
        </form>

        <div class="button-container">
            <button class="button" style="background-color: #FDFDF6; color: #072D44;"
                [routerLink]="['/relation-officer']">ย้อนกลับ</button>
        </div>
    </div>

</body>