<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-officer">หนังสือต่างๆ </a> > </li>
                    <li class="list-item">หนังสือแจ้งผู้ปกครองเรื่องการฝึกงาน</li>
                </div>
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>
    <p>ปีการศึกษา {{ selectedOption1 }} ประเภทที่ {{ selectedOption2 }}</p>
    <table class="table-container" style="width: 900px;">
        <thead style="font-size: 13px;">
            <tr>
                <th>ลำดับ</th>
                <th>ชื่อหน่วยงาน</th>
                <th>หน่วยงานภายใน</th>
                <th>รับ-ลง-เหลือ</th>
                <th>รหัสนิสิต</th>
                <th>ชื่อนิสิตที่ลงทะเบียน</th>
                <th>พิมพ์หนังสือ</th>
            </tr>
        </thead>
        <tbody style="font-size: 13px;">
            <tr *ngFor="let form of StudentInformation; let i = index">
                <td>{{ form.company_id }}</td>
                <td>{{ form.company_name }}</td>
                <td>{{ form.company_building }}</td>
                <td>{{ form.number_student_train }}</td>
                <td>{{ form.student_code }}</td>
                <td>{{ form.student_name }}</td>
                <td class="text-center"><button (click)="selectForm(CompanyInformation)"
                        style="background-color: #66B366;"><i class="fa-solid fa-print"
                            style="color: #FDFDF6; font-size: 16px;"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</body>