<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-student">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item">ข้อมูลหน่วยงาน</li>
                </div>
                <button (click)="logout()">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>
    <p>ปีการศึกษา {{ selectedOption5 }} ประเภทที่ {{ selectedOption6 }}</p>
    <table class="table-container" style="width: 900px;">
        <thead style="font-size: 13px;">
            <tr style="font-size: 13px;">
                <th>ลำดับ</th>
                <th>ชื่อหน่วยงาน</th>
                <th>หน่วยงานภายใน</th>
                <th>รับ-ลง-เหลือ</th>
                <th>รหัสนิสิต</th>
                <th>ชื่อนิสิตที่ลงทะเบียน</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-size: 13px;">
            <tr *ngFor="let company of CompanyInformation; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td style="word-break: break-all;">{{ company.company.company_name }}</td>
                <td style="word-break: break-all;">{{ company.company.company_building }}</td>

                <td class="text-center">
                    {{ company.need_student && company.need_student.length > 0 ?
                    company.need_student[0].number_student_train : '' }}
                </td>

                <td *ngIf="student[company.company.company_id] && student[company.company.company_id].length > 0">
                    <ng-container *ngFor="let studentItem of student[company.company.company_id]">
            <tr>
                {{ studentItem.student_code }}
            </tr>
            </ng-container>
            </td>

            <td *ngIf="student[company.company.company_id] && student[company.company.company_id].length > 0">
                <ng-container *ngFor="let studentItem of student[company.company.company_id]">
                    <tr>
                        {{ studentItem.student_name }} {{ studentItem.student_lastname }}
                    </tr>
                </ng-container>
            </td>

                <td class="text-center">
                    <button (click)="selectCompany(company.company)" style="background-color: #66B366; color: #FDFDF6;"
                        [disabled]="company.selected">ยื่นขอเข้าฝึกงาน</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h6 style="color: red;">*นิสิตสามารถลงทะเบียนได้เพียง 1 หน่วยงาน เท่านั้น</h6>

    <div class="text-box">
        <li class="text-list">หน่วยกิจการนิสิต สาขาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร</li>
        <li class="text-list">99 หมู่ 9 ถ.พิษณุโลก-นครสวรรค์ ต.ท่าโพธิ์ อ.เมือง จ.พิษณุโลก 65000</li>
        <li class="text-list">โทรศัพท์ 0-5596-4015 โทรสาร 0-5596-4000</li>
    </div>
</body>