<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-student">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item"><a routerLink="/company-form-student">01-ข้อมูลหน่วยงาน </a> > </li>
                    <li class="list-item">ประเภทที่ นิสิตที่ออกฝึกงานในภาคเรียนที่ </li>
                </div>
                <!-- <h6>สวัสดีนิสิต{{ StudentProfileData.student_name }} รหัสนิสิต {{ StudentProfileData.student_code }}</h6> -->
                <button [routerLink]="['/app']">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <!-- <li>ประเภทที่  นิสิตที่ออกฝึกงานในภาคเรียนที่ </li> แถบข้าง -->
        <div class="head-list">
            <li>แบบฟอร์มการศึกษาข้อมูลเบื้องต้นของหน่วยงวานที่ต้องการไปฝึกงาน</li>
            <li>ภาคเรียนที่ ประจำปีการศึกษา </li>
        </div>

        <p>ข้อมูลนิสิต</p>
        <div class="list">
            <li>ชื่อ-นามสกุล{{StudentProfileData.student_name }}{{StudentProfileData.student_lastname }}</li>
        </div>

        <div class="list">
            <label for="student_depart">สาขาวิศวกรรม</label>
            <input type="text" id="student_depart" [(ngModel)]="StudentProfileData.student_depart">
        </div>

        <div class="list">
            <label for="student_pak">ภาควิชาวิศวกรรม</label>
            <input type="text" id="student_pak" [(ngModel)]="StudentProfileData.student_pak">
        </div>

        <div class="list">
            <label for="student_mobile">เบอร์โทรศัพท์ที่สามารถติดต่อได้</label>
            <input type="text" id="student_mobile" [(ngModel)]="StudentProfileData.student_mobile">
        </div>

        <div class="list">
            <label for="student_facebook">Facebook</label>
            <input type="text" id="student_facebook" [(ngModel)]="StudentProfileData.student_facebook">
        </div>

        <p>ข้อมูลหน่วยงาน</p>
        <form (ngSubmit)="saveData()">
            <div class="list">
                <label for="company_name">1. ชื่อหน่วยงาน(ภาษาไทย)</label>
                <input type="text" id="company_name" [(ngModel)]="company.company_name">
            </div>

            <div class="list">
                <li>2. ชื่อหรือตำแหน่งที่จะออกหนังสือราชการถึงหน่วยงาน นิสิตจะต้องสอบถามหน่วยงาน ว่าให้ทำหนังสือถึงใคร</li>
            </div>

            <div class="list">
                <label for="send_name">เรียน</label>
                <input type="text" id="send_name" [(ngModel)]="company.send_name">
            </div>

            <div class="list">
                <li>ชื่อผู้ประสานงาน คือ บุคคลที่นิสิตติดต่อหรือโทรศัพท์สอบถามข้อมูลเบื้องต้น</li>
            </div>

            <div class="list">
                <label for="send_coordinator">ชื่อผู้ประสานงาน</label>
                <input type="text" id="send_coordinator" [(ngModel)]="company.send_coordinator">
            </div>

            <div class="list">
                <label for="send_position">ตำแหน่ง</label>
                <input type="text" id="send_position" [(ngModel)]="company.send_position">
            </div>

            <div class="list">
                <label for="send_tel">เบอร์โทรศัพท์หน่วยงาน</label>
                <input type="text" id="send_tel" [(ngModel)]="company.send_tel">
            </div>

            <div class="list">
                <label for="send_email">Emile</label>
                <input type="text" id="send_email" [(ngModel)]="company.send_email">
            </div>

            <div class="list">
                <label for="send_mobile">โทรศัพท์มือถือ</label>
                <input type="text" id="send_mobile" [(ngModel)]="company.send_mobile">
            </div>

            <div class="list">
                <label for="type_position">3. ตำแหน่ง/หน้าที่/ลักษณะงานของนิสิตที่เข้าไปฝึกงาน</label>
                <input type="text" id="type_position" [(ngModel)]="company.type_position">
            </div>

            <div class="list">
                <label for="type_special">4. คุณสมบัติ/ความสามารถ/ความรู้เพิ่มเติม
                    ของนิสิตที่บริษัทต้องการ(ถ้ามี)</label>
                <input type="text" id="type_special" [(ngModel)]="company.type_special">
            </div>

            <div class="list">
                <label for="date_addtraining">5. ระยะเวลาฝึกงาน</label>
                <input type="text" id="date_addtraining" [(ngModel)]="company.date_addtraining">
            </div>

            <div class="text">
                <li>หมายเหตุ&nbsp;&nbsp;ก่อนส่งให้ภาควิชาเพื่อกรอกข้อมูลลงในระบบ นิสิตควรถ่ายสำเนาเก็บไว้ 1 ชุด</li>
                <li style="margin-left: 77px;">กรณีที่ไปฝึกงานสถานที่เดียวหลายคน ขอให้นิสิตรวบรวมส่งพร้อมกัน</li>
                <li style="margin-left: 77px;">ส่งงานกิจจการนิสิตและศิษย์เก่าสัมพันธ์ &nbsp;คณะวิศวกรรมศาสตร์&nbsp;
                    เพื่อขอออกหนังสือราชการส่งให้หน่วยงาน</li>
            </div>

            <div class="button-container">
                <button class="button" type="submit"
                    style="background-color: #064469; color: #FDFDF6;">บันทึกข้อมูล</button>
            </div>
        </form>
    </div>

    <div class="text-box">
        <li class="text-list">หน่วยกิจการนิสิต สาขาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร</li>
        <li class="text-list">99 หมู่ 9 ถ.พิษณุโลก-นครสวรรค์ ต.ท่าโพธิ์ อ.เมือง จ.พิษณุโลก 65000</li>
        <li class="text-list">โทรศัพท์ 0-5596-4015 โทรสาร 0-5596-4000</li>
    </div>
    <!-- popup enter-company -->
    <!-- <div *ngIf="isPopupVisible" class="popup">
        <h2>ยืนยันการกรอกแบบฟอร์ม 01 ข้อมุลหน่วยงาน</h2>
    <h5>ภาคเรียนที่ ประจำปีการศึกษา </h5>

    <h2>ข้อมูลนิสิต</h2>
        <h2>ชื่อ-นามสกุล{{StudentProfileData.student_name }}{{StudentProfileData.student_lastname }}</h2>
        รหัสนิสิต{{StudentProfileData.student_code }}

        <div>
            <label>สาขาวิศวกรรม</label>
            <span>{{ StudentProfileData.student_depart }}</span>
        </div>

        <div>
            <label>ภาควิชาวิศวกรรม</label>
            <span>{{ StudentProfileData.student_pak }}</span>
        </div>
        <div>
            <label>เบอร์โทรศัพท์ที่สามารถติดต่อได้</label>
            <span>{{ StudentProfileData.student_mobile }}</span>
        </div>
        <div>
            <label>Facebook</label>
            <span>{{ StudentProfileData.student_facebook }}</span>
        </div>

        <h2>ข้อมูลหน่วยงาน</h2>

        <div>
            <label>1. ชื่อหน่วยงาน(ภาษาไทย)</label>
            <span>{{ company.company_name }}</span>
        </div>
        <div>
            <label>ชื่อหรือตำแหน่งที่จะออกหนังสือราชการถึงหน่วยงาน</label>
            <span>{{ company.company_name }}</span>
        </div>
        <div>
            <label>เรียน</label>
            <span>{{ company.send_name }}</span>
        </div>
        <div>
            <label>ชื่อผู้ประสานงาน</label>
            <span>{{ company.send_coordinator }}</span>
        </div>
        <div>
            <label>ตำแหน่ง</label>
            <span>{{ company.send_position }}</span>
        </div>
        <div>
            <label>เบอร์โทรศัพท์หน่วยงาน</label>
            <span>{{ company.send_tel }}</span>
        </div>
        <div>
            <label>Email</label>
            <span>{{ company.send_email }}</span>
        </div>
        <div>
            <label>โทรศัพท์มือถือ</label>
            <span>{{ company.send_mobile }}</span>
        </div>
        <div>
            <label>ตำแหน่ง/หน้าที่/ลักษณะงานของนิสิตที่เข้าไปฝึกงาน</label>
            <span>{{ company.company_job }}</span>
        </div>
        <div>
            <label>คุณสมบัติพิเศษ/ความสามารถ/ความรู้เพิ่มเติม</label>
            <span>{{ company.company_qualifications }}</span>
        </div>
        <div>
            <label>ระยะเวลาฝึกงาน</label>
            <span>{{ company.company_period }}</span>
        </div>

        <button (click)="isPopupVisible = false">ย้อนกลับ</button>
        <button (click)="printDocument()">พิมพ์เอกสาร</button>
    </div> -->
</body>