body {
    background-color: white;
    background-position: top;
    height: 100%; 
    overflow: auto;
 }

 .header {
    background-color: #44779F;
    border-radius: 8px;
}

.header ul {
    font-size: 18px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}

.header button {
    background-color: #FF8A00;
    font-size: 18px;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    margin-right: 0px;
}

.header-list {
    white-space: nowrap;
}

.list-item {
    display: inline-block;
    padding: 10px 5px 0px 5px;
}

.list-item a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.list-item a:hover {
    color: #FF8A00;
}

/* form part */

.form-container {
    background-color: #DFEBF6;
    margin: 80px 300px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 18px;
    font-weight: 600;
}


.form-group {
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

label {
    margin-bottom: 10px;
}

select {
    border-radius: 5px;
    border: 2px solid black; 
    padding: 2px 20px 2px 20px;
    margin-bottom: 20px;
    width: 200px;
}

/* button part */

.button-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center; 
    gap: 50px;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}